* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    display: flex;
    background: slategray;
  }
  
  header {
    margin: 0px;
    padding: 10px;
    background: #333;
    width: 100%;
  }
  
  header h1 {
    text-align: center;
    font-size: 30px;
    color: white;
  }
  
  /* main */
  .container {
    border: 1px solid white;
  
  }
  
  /* buttons */
  .button-container {
    
  }
  
  button {
  
  }
  
  button:hover {
  
  }
  
  /* footer */
  footer {
      position: absolute;
      bottom: 0px;
      width: 100%;
      background: #333;
      color: #fff;
      padding: 20px 10px;
      text-align: center;
  }
  
  footer .heart {
      color: red;
  }
  
  footer p {
      font-size: 14px;
  }
  
  footer p a {
      color: #fff;
      text-decoration: none;
  }
  
  footer p a:hover {
      color: green;
  }